@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    width: 100%;
    height: 100%;
    background-color: black;
}
#logo{
    color: rgb(229,9,20);
    margin: 20px 10px;
    font-size: 0.8em;
}
#logo > h1 > a{
    color: rgb(229,9,20);
}
div{
    margin: 10px;
}
div > header{
    color: white;
    font-size: 1.8em;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 25px;
    margin-left: 6px;
}
.login{
    width: 100%;
    height: 100%;
    margin: 0px;
}
.login > div{
    width: 98%;
    height: 55px;
    background-color: rgba(58, 58, 58, 0.274);
    color: #ffffff;
    border: solid 0.1px rgba(138, 138, 138, 0.678);
    border-radius: 5px;
    margin: 8px;
    font-size: 1em;
}
.login > div > input{
    width: 100%;
    height: 100%;
    padding: 15px;
    background-color: transparent;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 15px;
}
.login > div > input:focus{
    font-size: 1em;
    font-variant-position: super;
    outline: solid 2px white;
}
#password{
    margin-top: 20px;
}
.bottons{
    width: 100%;
    display: grid;
    text-align: center;
}
.bottons > input{
    width: 98%;
    height: 55px;
    background-color: transparent;
    color: #ffffff;
    border: solid 1px rgba(136, 136, 136, 0.678);
    border-radius: 5px;
    margin: 8px 0px;
    font-size: 1em;
}
div > input#entrar{
    color: white;
    background-color: rgb(229,9,20);
    height: 40px;
    font-size: 1em;
    border: none;
}
input#entrar:hover{
    background-color: rgb(190, 10, 19);
    cursor: pointer;
}
input#acesscode{
    background-color: rgb(54, 54, 54);
    color: white;
    font-size: 1em;
    height: 40px;
    border: none;
    margin-bottom: 20px;
}
input#acesscode:hover{
    background-color: rgb(37, 37, 37);
    cursor: pointer;
}
p#ou{
    color: rgb(175, 175, 175);
    margin: 10px 0px;
    width: 98%;
}
#forgets{
    width: 98%;
    text-decoration: none;
    color: white;
    font-size: 14px;
}
#iremember{
    margin-bottom: 20px;
}
div > footer{
    color: white;
    margin: 30px 10px;
}
div > footer > p{
    color: rgb(175, 175, 175);
}
div > footer > p > a{
    color: white;
}
div > footer > p > a:hover{
    text-decoration: underline;
}
div > footer > p#aviso{
    color: rgb(141, 141, 141);
    font-size: 0.8em;
    margin-top: 20px;
    margin-bottom: 110px;
}
div > footer > p#aviso > a{
    color: rgb(47, 120, 255);
}
#text-n{
    color: rgb(175, 175, 175);
    margin-left: 10px;
    margin-bottom: 18px;
    font-size: 16px;
}
#number{
    color: rgb(175, 175, 175);
}
#container{
    display: grid;
    justify-items: initial;
    margin: auto;
    margin-bottom: 28px;
}
#itens{
    display: grid;
}
#lista{
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    font-size: 16px;
}
    
#itens > ul > li > a{
    color: rgb(175, 175, 175);
    text-decoration: underline;
    font-size: 0.8em;
    justify-content: space-between;
}
#icon{
    margin-left: 2px;
}
#container-select{
    background-color: rgba(58, 58, 58, 0.274);
    width: 140px;
    height: 32px;
    border: solid 1px rgba(255, 255, 255, 0.425);
    border-radius: 5px;
    padding: 7px;
}
#select{
    font-size: 15px;
    margin-left: 5px;
    color: white;
    background-color: transparent;
    border: none;
}
.footer-top{
    width: 101.4967859%;
    margin: -10px;
    border-top: 1px solid rgba(128,128,128,0.7);
    padding-top: 20px;
}
.footer-normal{
    margin: 20px;
    padding-bottom: 10px;
}